<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado liebre</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

    <header>

        <div id="logo">
            <a href="/">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-libre" id="logo-mercado-liebre">
            </a>
        </div>

        <div id="searchbar">

            <form action="" method="">
                <input type="text" placeholder="Buscar productos, marcas">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>

        <div>
           <p id="nav-frase"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    
    <section id="img-home-banner">
        <img src="/images/img-home-banner.jpg" alt="img-home-banner" width="100%">
    </section>

    <main>

        <section id="ultima-visita">

            <h2>Basado en tu última visita</h2>
            
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="100%">
                
                <div class="detalles">
                    <i class="fas fa-truck"></i>
                    <p class="precio" >$6,770</p>
                    <p class="descuento" >40% off</p>
                    <h3 class="descripcion" >Cafetera Moulinex</h3>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="100%">

                <div class="detalles">
                    <i class="fas fa-truck"></i>
                    <p class="precio" >$230,000</p>
                    <p class="descuento" >20% off</p>
                    <h3 class="descripcion" >MacBook Pro 2019</h3>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="100%">

                <div class="detalles">
                    <i class="fas fa-truck"></i>
                    <p class="precio" >$70,500</p>
                    <p class="descuento" >10% off</p>
                    <h3 class="descripcion" >Samsung Galaxy S10</h3>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="100%">

                <div class="detalles">
                    <i class="fas fa-truck"></i>
                    <p class="precio" >$23,200</p>
                    <p class="descuento" >5% off</p>
                    <h3 class="descripcion" >SmartTv Samsung 43"</h3>
                </div>
            </article>

        </section>

        <section id="ofertas">

            <h2>Ofertas</h2>
            
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="100%">
                <div class="detalles">
                    <i class="fas fa-truck"></i>
                    <p class="precio" >$6,770</p>
                    <p class="descuento" >40% off</p>
                    <h3 class="descripcion" >Cafetera Moulinex</h3>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="100%">

                <div class="detalles">
                    <i class="fas fa-truck"></i>
                    <p class="precio" >$230,000</p>
                    <p class="descuento" >20% off</p>
                    <h3 class="descripcion" >MacBook Pro 2019</h3>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="100%">

                <div class="detalles">
                    <i class="fas fa-truck"></i>
                    <p class="precio" >$70,500</p>
                    <p class="descuento" >10% off</p>
                    <h3 class="descripcion" >Samsung Galaxy S10</h3>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="100%">

                <div class="detalles">
                    <i class="fas fa-truck"></i>
                    <p class="precio" >$23,200</p>
                    <p class="descuento" >5% off</p>
                    <h3 class="descripcion" >SmartTv Samsung 43"</h3>
                </div>
            </article>

        </section>

    </main>
    
    <footer>

        <div class="footer-group">

            <div>
                <i class="fas fa-credit-card"></i>
                <p class="footer-titulo" ><b>Paga con tarjeta o en efectivo</b></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div>
                <i class="fas fa-gift"></i>
                <p class="footer-titulo" ><b>Envío gratis desde $2,500</b></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div>
                <i class="fas fa-user-shield"></i>
                <p class="footer-titulo" ><b>Seguridad de principio a fin</b></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>

        </div>

        <div id="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>

</body>

</html>