<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mercado liebre</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

    <header>

        <div id="logo">
            <a href="/">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-libre" id="logo-mercado-liebre">
            </a>
        </div>

        <div id="searchbar">

            <form action="" method="">
                <input type="text" placeholder="Buscar productos, marcas">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>

        <div>
           <p id="nav-frase"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main>

        <div class="login-space">

        <h1>Iniciar sesión</h1>

        <form action="/" method="GET" id="login">

            <p>
                <label for="nomUsuario">Nombre de usuario </label>
                <input type="text" id="nomUsuario">
            </p>

           
            <p>
                <label for="password">Contraseña </label>
                <input type="password" id="password">
            </p>

            <div class="botones">       
                <button class="button">Iniciar</button>
            </div>      

        </form>
    </div>

    </main>

    <footer>

        <div class="footer-group">

            <div>
                <i class="fas fa-credit-card"></i>
                <p class="footer-titulo" ><b>Paga con tarjeta o en efectivo</b></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div>
                <i class="fas fa-gift"></i>
                <p class="footer-titulo" ><b>Envío gratis desde $2,500</b></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div>
                <i class="fas fa-user-shield"></i>
                <p class="footer-titulo" ><b>Seguridad de principio a fin</b></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>

        </div>

        <div id="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>
    
</body>
</html>
</body>
</html>